.selectLang {
    display: inline;
}
.selectLang:after {
    position: relative;
    /* content: "^"; */
    opacity: 80%;
    right: 20px;
    bottom: -3px;
    z-index: 1;
    text-align: center;
    width: 10%;
    pointer-events: none;
    box-sizing: border-box;
  }
  .selectLang select {
    /*  */
      text-transform: lowercase;
      width: 50px;
      font-size: 16px;
      padding-right: 25px;
      background-color: rgba(15, 15, 15, 0.4);
      color: rgba(255, 255, 255, 0.8);
      border: none;
      -webkit-appearance:none;
      -moz-appearance: none;
      border-radius: 7px;
      padding: 5px 5px 5px 5px;
      border: 1px solid rgba(255, 255, 255, 0.1);
  }
select::-ms-expand {
    display: none;
} 